.backgroundImage {
    background: url("../../images/about.svg") no-repeat top;
    height: 110vh;
    background-size: cover;
}

.flexGrid {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.col {
    flex: 1;
}

.allText {
    padding-left: 200px;
    padding-top: 40px;
    padding-right: 75px;
    /* border: white 1px solid; */
}

.header {
    font-family : "museo", serif;
    font-size : 72px;
    font-weight: 900;
    letter-spacing : -2.52px;
    color : #E66F50;
    margin: 0;
}

.desc {
    font-family : "museo sans", sans-serif;
    font-size : 24px;
    font-weight: 300;
    letter-spacing : -0.84px;
    color : #E9CBB6;
    /* width: 80%; */
}

.underline {
    width: 50%;
    border-bottom: 3px solid #f39f53;
}

.headshot {
    height: 350px;
    width: 350px;
    padding-right: 200px;
    padding-top: 40px;
    padding-left: 0;
}

.subheading {
    font-family : "museo", serif;
    font-style : italic;
    font-weight: 500;
    font-size : 24px;
    color : #E66F50;
    text-align: center;
    margin-top: 100px;
}

.iconList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 100px;
    height: 100px;
}

.iconLabel {
    /* text-align: center; */
    text-transform: uppercase;
    font-family : "museo sans", sans-serif;
    font-size : 16px;
    letter-spacing : 2.4px;
    color : #E9CBB6;
}

.iconColumn {
    flex: 1;
}

.artIconLabel {
    padding-left: 35px;
}

.animationIconLabel {
    position: relative;
    left: -15px;
}

.forestIconLabel {
    padding-left: 7px;
}

.travelIconLabel {
    padding-left: 16px;
}
