/* .backgroundImage {
    background: url("../../images/connect.svg") no-repeat top;
    height: 110vh;
    background-size: cover;
} */

/* .firstHeading {
    padding-top: 210px;
} */

.backgroundImage {
  position: relative;
}

.heading {
    font-family : "museo", serif;
    /* font-size : 100px; */
    line-height : 64px;
    letter-spacing : -3.5px;
    color : #E66F50;
    margin: 0;
    line-height: .7;
    text-align: center;
}

/* .allHeaderText h2:last-child {
    margin-bottom: 70px;
} */

.icons {
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* .iconImg {
    width: 150px;
    height: 150px;
} */

/* .linkedin {
    width: 135px;
    height: 135px;
} */

.supportingText p {
    font-family: "museo", serif;
    font-style : italic;
    font-weight: 500;
    /* font-size : 28px; */
    color : #F39F53;
    margin: 0;
    text-align: center;
}

/* .supportingText p:first-child {
    margin-top: 75px;
} */


@media screen and (max-width: 450px) {
    .backgroundImage {
        background: url("../../images/mobile-connect.svg") no-repeat top;
        height: 100vh;
        background-size: cover;
    }

    .firstHeading {
        padding-top: 350px;
    }

    .heading {
        font-size: 72px;
    }

    .allHeaderText h2:last-child {
        margin-bottom: 40px;
    }

    .icons {
        width: 80%;
    }

    .iconImg {
        width: 80px;
        height: 80px;
    }

    .linkedin {
        width: 70px;
        height: 70px;
    }

    .supportingText p {
        font-size: 18px;
    }

    .supportingText p:first-child {
        margin-top: 40px;
    }
}

@media screen and (min-width: 451px) {
    .backgroundImage {
        background: url("../../images/mobile-connect.svg") no-repeat top;
        height: 150vh;
        background-size: cover;
    }

    .firstHeading {
        padding-top: 540px;
    }

    .heading {
        font-size: 90px;
    }

    .allHeaderText h2:last-child {
        margin-bottom: 50px;
    }

    .icons {
        width: 80%;
    }

    .iconImg {
        width: 93px;
        height: 93px;
    }

    .linkedin {
        width: 80px;
        height: 80px;
    }

    .supportingText p {
        font-size: 24px;
    }

    .supportingText p:first-child {
        margin-top: 50px;
    }
}

@media screen and (min-width: 600px) {
    .backgroundImage {
        height: 165vh;
    }

    .firstHeading {
        padding-top: 560px;
    }

    .heading {
        font-size: 105px;
    }

    .allHeaderText h2:last-child {
        margin-bottom: 80px;
    }

    .icons {
        width: 70%;
    }

    .iconImg {
        width: 120px;
        height: 120px;
    }

    .linkedin {
        width: 100px;
        height: 100px;
    }

    .supportingText p {
        font-size: 26px;
    }

    .supportingText p:first-child {
        margin-top: 80px;
    }
}

@media screen and (min-width: 900px) {
    .backgroundImage {
        background: url("../../images/connect.svg") no-repeat top;
        height: 110vh;
        background-size: cover;
    }

    .firstHeading {
        padding-top: 220px;
    }

    .heading {
        font-size: 105px;
    }

    .allHeaderText h2:last-child {
        margin-bottom: 75px;
    }

    .icons {
        width: 60%;
    }

    .iconImg {
        width: 135px;
        height: 135px;
    }

    .linkedin {
        width: 120px;
        height: 120px;
    }

    .supportingText p {
        font-size: 30px;
    }

    .supportingText p:first-child {
        margin-top: 75px;
    }

    /* lower left */
    .circle1 {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #336969;
      position: absolute;
      top: 18%;
      left: -80px;
      mix-blend-mode: screen;
    }

    /* upper left */
    .circle2 {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #537f73;
      position: absolute;
      top: 12%;
      left: 4%;
      mix-blend-mode: screen;
    }

    /* upper right */
    .circle3 {
      width: 115px;
      height: 115px;
      border-radius: 50%;
      background-color: #336969;
      position: absolute;
      /* top: -50px; */
      right: 2%;
      mix-blend-mode: screen;
    }

    /* lower right */
    .circle4 {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background-color: #537f73;
      position: absolute;
      bottom: 3%;
      right: 7%;
      mix-blend-mode: screen;
    }
}

@media screen and (min-width: 1200px) {
    .firstHeading {
        padding-top: 200px;
    }

    .heading {
        font-size: 120px;
    }

    .allHeaderText h2:last-child {
        margin-bottom: 70px;
    }

    .icons {
        width: 50%;
    }

    .iconImg {
        width: 150px;
        height: 150px;
    }

    .linkedin {
        width: 135px;
        height: 135px;
    }

    .supportingText p {
        font-size: 30px;
    }

    .supportingText p:first-child {
        margin-top: 70px;
    }
}
