.backgroundImage {
    background: url("../../images/connect.svg") no-repeat top;
    height: 110vh;
    background-size: cover;
}

.firstHeading {
    padding-top: 210px;
}

.heading {
    font-family : "museo", serif;
    font-size : 100px;
    line-height : 64px;
    letter-spacing : -3.5px;
    color : #E66F50;
    margin: 0;
    line-height: .7;
    text-align: center;
}

.allHeaderText h2:last-child {
    margin-bottom: 70px;
}

.icons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.iconImg {
    width: 150px;
    height: 150px;
}

.linkedin {
    width: 135px;
    height: 135px;
}

.supportingText p {
    font-family: "museo", serif;
    font-style : italic;
    font-weight: 500;
    font-size : 28px;
    color : #F39F53;
    margin: 0;
    text-align: center;
}

.supportingText p:first-child {
    margin-top: 75px;

}
